<div>
  <lib-scrim
    [imgURL]="'assets/img.jpg'"
    [frameStyle]="frameStyle"
    (wasCreate)="showCreated($event)"
    (wasRemove)="showRemoved($event)"
    (wasResize)="showResized($event)"
    (wasMoved)="showMoved($event)"
    (isMove)="showMove($event)"
    (isResize)="showResize($event)"></lib-scrim>
</div>
<div>
  <div>
    <span>Change background color:</span>
    <input [value]="frameStyle.background"
      [style.background]="frameStyle.background"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="frameStyle.background"/>
  </div>
  <div>
    <span>Change border color:</span>
    <input [value]="frameStyle.borderColor"
      [style.background]="frameStyle.borderColor"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="frameStyle.borderColor"/>
  </div>
  <div>
    <span>Change active color:</span>
    <input [value]="frameStyle.borderActive"
      [style.background]="frameStyle.borderActive"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="frameStyle.borderActive"/>
  </div>
  <div>
      <span>Change border style:</span>
      <select name="" id="">
        <option>dotted</option>
        <option>dashed</option>
        <option>solid</option>
        <option>double</option>
        <option>groove</option>
        <option>ridge</option>
        <option>inset</option>
      </select>
  </div>
  <div>
    <span>Change border size</span>
    <input type="number" [(ngModel)]="frameStyle.borderSize">
  </div>
</div>

